<div class="responsive-hide">
	<!-- IF SCRIPT_NAME == "viewforum" -->
		<!-- IF S_DISPLAY_POST_INFO -->
			<div class="clear-legend">
				<h3 class="alignright">{L_FORUM_PERMISSIONS}</h3>
				<h3 class="alignleft">{L_LEGEND}</h3>
					<div class="howwide">
						<dl class="alignleft howwide2"><span class="valign">{FOLDER_UNREAD_IMG}&nbsp;{L_UNREAD_POSTS}</span><br /><span class="valign">{FOLDER_HOT_UNREAD_IMG}&nbsp;{L_UNREAD_POSTS_HOT}</span><br /><span class="valign">{FOLDER_LOCKED_UNREAD_IMG}&nbsp;{L_UNREAD_POSTS_LOCKED}&nbsp;</span></dl>
					</div>
					<div class="howwide">
						<dl class="alignleft howwide2"><span class="valign">{FOLDER_IMG}&nbsp;{L_NO_UNREAD_POSTS}</span><br /><span class="valign">{FOLDER_HOT_IMG}&nbsp;{L_NO_UNREAD_POSTS_HOT}</span><br /><span class="valign">{FOLDER_LOCKED_IMG}&nbsp;{L_NO_UNREAD_POSTS_LOCKED}&nbsp;</span></dl>
					</div>
					<div class="howwide">
						<dl class="alignleft howwide2"><span class="valign">{FOLDER_ANNOUNCE_IMG}&nbsp;{L_ICON_ANNOUNCEMENT}</span><br /><span class="valign">{FOLDER_STICKY_IMG}&nbsp;{L_ICON_STICKY}</span><br /><span class="valign">{FOLDER_MOVED_IMG}&nbsp;{L_TOPIC_MOVED}&nbsp;</span></dl>
					</div>
				<div class="inner">
					<dl class="alignright"><!-- BEGIN rules -->{rules.RULE}<br /><!-- END rules --></dl>
				</div>
			</div>
		<!-- ENDIF -->
	<!-- ENDIF -->
</div>
