{% if FORUMLEGEND_ENABLED %}
	<div class="responsive-hide">
		{% if SCRIPT_NAME == "viewforum" %}
			{% if S_DISPLAY_POST_INFO %}
				<div class="clear-legend">
					<h3 class="alignright" style="width: {{ FORUMLEGEND_RIGHT_WIDTH }}%;">{{ lang('FORUM_PERMISSIONS') }}</h3>
					<h3 class="alignleft" style="width: {{ FORUMLEGEND_LEFT_WIDTH }}%;">{{ lang('LEGEND') }}</h3>
						<div class="howwide">
							<dl class="alignleft howwide2"><span class="valign">{{ FOLDER_UNREAD_IMG }}&nbsp;{{ lang('UNREAD_POSTS') }}</span><br /><span class="valign">{{ FOLDER_HOT_UNREAD_IMG }}&nbsp;{{ lang('UNREAD_POSTS_HOT') }}</span><br /><span class="valign">{{ FOLDER_LOCKED_UNREAD_IMG }}&nbsp;{{ lang('UNREAD_POSTS_LOCKED') }}&nbsp;</span></dl>
						</div>
						<div class="howwide">
							<dl class="alignleft howwide2"><span class="valign">{{ FOLDER_IMG }}&nbsp;{{ lang('NO_UNREAD_POSTS') }}</span><br /><span class="valign">{{ FOLDER_HOT_IMG }}&nbsp;{{ lang('NO_UNREAD_POSTS_HOT') }}</span><br /><span class="valign">{{ FOLDER_LOCKED_IMG }}&nbsp;{{ lang('NO_UNREAD_POSTS_LOCKED') }}&nbsp;</span></dl>
						</div>
						<div class="howwide">
							<dl class="alignleft howwide2"><span class="valign">{{ FOLDER_ANNOUNCE_IMG }}&nbsp;{{ lang('ICON_ANNOUNCEMENT') }}</span><br /><span class="valign">{{ FOLDER_STICKY_IMG }}&nbsp;{{ lang('ICON_STICKY') }}</span><br /><span class="valign">{{ FOLDER_MOVED_IMG }}&nbsp;{{ lang('TOPIC_MOVED') }}&nbsp;</span></dl>
						</div>
					<div class="inner">
						<dl class="alignright">{% for rules in loops.rules %}{{ rules.RULE }}<br />{% endfor %}</dl>
					</div>
				</div>
			{% endif %}
		{% endif %}
	</div>
{% endif %}
