.stat-block.permissions {
	display: none !important;
}

.alignleft {
	float: left;
	clear: left;
	width: 50%;
}

.alignright {
	float: right;
	clear: right;
	text-align: right;
	width: 50%;
}

.legend-index.navbar {
	text-align: center !important;
	padding: 4px 0 !important;
	margin: 0 !important;
}

.valign span{
	vertical-align: middle !important;
}

.howwide {
	float: left;
}

.howwide2 {
	width: auto;
}

.clear-legend .imageset {
	margin-bottom: 3px;
}

/* Legend tweak for phpBB 3.2.x
----------------------------------------*/

.legend-index span.imageset {
	display: inline-block !important;
	margin: 0;
	padding: 32px 0 0 32px;
	width: 0;
	height: 0;
	overflow: hidden;
	background-size: cover;
}

.clear-legend span.imageset {
	display: inline-block !important;
	margin: 0 0 2px 0;
	padding: 32px 0 0 32px;
	width: 0;
	height: 0;
	overflow: hidden;
	background-repeat: no-repeat;
	background-size: cover;
}
