.stat-block.permissions {
	display: none !important;
}

.alignleft {
	float: left;
	clear: left;
	width: 50%;
}

.alignright {
	float: right;
	clear: right;
	text-align: right;
	width: 50%;
}

.legend-index.navbar {
	text-align: center !important;
	padding: 4px 0 !important;
	margin: 0 !important;
}

.valign span{
	vertical-align: middle !important;
}

.howwide {
	float: left;
}

.howwide2 {
	width: auto;
}

.clear-legend .imageset {
	margin-bottom: 3px;
}

.imageset.forum_unread {
	padding-left: 38px;
	padding-top: 38px;
}

.imageset.forum_read {
	padding-left: 38px;
	padding-top: 38px;
}

.imageset.forum_read_locked {
	padding-left: 38px;
	padding-top: 38px;
}

.imageset.topic_unread {
	padding-left: 38px;
	padding-top: 38px;
}

.imageset.topic_unread_hot {
	padding-left: 38px;
	padding-top: 38px;
}

.imageset.topic_unread_locked {
	padding-left: 38px;
	padding-top: 38px;
}

.imageset.topic_read {
	padding-left: 38px;
	padding-top: 38px;
}

.imageset.topic_read_hot {
	padding-left: 38px;
	padding-top: 38px;
}

.imageset.topic_read_locked {
	padding-left: 38px;
	padding-top: 38px;
}

.imageset.announce_read {
	padding-left: 38px;
	padding-top: 38px;
}

.imageset.sticky_read {
	padding-left: 38px;
	padding-top: 38px;
}

.imageset.topic_moved {
	padding-left: 38px;
	padding-top: 38px;
}