<div class="responsive-hide">
	<div class="legend-index navbar">
		<div class="aligncenter valign">
			<img src="{BOARD_URL}styles/Orange_BBEs/theme/images/icons/forum_unread.png" alt="{{ lang('UNREAD_POSTS') }}" title="{{ lang('UNREAD_POSTS') }}" class="valign" />&nbsp;{L_UNREAD_POSTS}&nbsp;&nbsp;
			<img src="{BOARD_URL}styles/Orange_BBEs/theme/images/icons/forum_read.png" alt="{{ lang('NO_UNREAD_POSTS') }}" title="{{ lang('NO_UNREAD_POSTS') }}" class="valign" />&nbsp;{L_NO_UNREAD_POSTS}&nbsp;&nbsp;
			<img src="{BOARD_URL}styles/Orange_BBEs/theme/images/icons/forum_read_locked.png" alt="{{ lang('FORUM_LOCKED') }}" title="{{ lang('FORUM_LOCKED') }}" class="valign" />&nbsp;{L_FORUM_LOCKED}
		</div>
	</div>
</div>
