<div class="stat-block statistics">
	<h3>{L_LEGEND}</h3>
		<div class="panel">
			<div class="inner"><span class="corners-top"><span></span></span>
				<ul class="legend">
					<li style="background-image: url('{ROOT_PATH}/styles/pbtech/theme/images/icons/icon_topic_newest.gif');">{L_NEW_POSTS}</li>
					<li style="background-image: url('{ROOT_PATH}/styles/pbtech/theme/images/icons/icon_post_unread.gif');">{L_UNREAD_POSTS}</li>
					<li style="background-image: url('{ROOT_PATH}/styles/pbtech/theme/images/icons/icon_topic_latest.gif');">{L_NO_NEW_POSTS}</li>
				</ul>
				<span class="corners-bottom"><span></span></span>
			</div>
		</div>
</div>
