<div class="responsive-hide">
	<!-- IF SCRIPT_NAME == "viewforum" -->
		<!-- IF S_DISPLAY_POST_INFO -->
			<h3>{L_LEGEND}</h3>
				<div class="panel">
					<div class="inner"><span class="corners-top"><span></span></span>
						<ul class="legend">
							<li class="topic_unread">{L_NEW_POSTS}</li>
							<li class="topic_read">{L_NO_NEW_POSTS}</li>
							<li class="topic_read_locked">{L_NO_NEW_POSTS_LOCKED}</li>
							<li class="announce_read">{L_ICON_ANNOUNCEMENT}</li>
							<li class="sticky_read">{L_ICON_STICKY}</li>
							<li class="topic_moved">{L_TOPIC_MOVED}</li>
						</ul>
						<span class="corners-bottom"><span></span></span>
					</div>
				</div>
		<!-- ENDIF -->
	<!-- ENDIF -->
</div>
