<div class="responsive-hide">
	<!-- IF S_DISPLAY_POST_INFO -->
		<table width="100%" cellspacing="0">
		<tr>
			<td align="{S_CONTENT_FLOW_BEGIN}" valign="top"><h3>{L_LEGEND}</h3>
			<table cellspacing="3" cellpadding="0" border="0">
			<tr>
				<td style="text-align: center;">{FOLDER_UNREAD_IMG}</td>
				<td class="gensmall">{L_UNREAD_POSTS}</td>
				<td>&nbsp;&nbsp;</td>
				<td style="text-align: center;">{FOLDER_IMG}</td>
				<td class="gensmall">{L_NO_UNREAD_POSTS}</td>
				<td>&nbsp;&nbsp;</td>
				<td style="text-align: center;">{FOLDER_ANNOUNCE_IMG}</td>
				<td class="gensmall">{L_ICON_ANNOUNCEMENT}</td>
			</tr>
			<tr>
				<td style="text-align: center;">{FOLDER_HOT_UNREAD_IMG}</td>
				<td class="gensmall">{L_UNREAD_POSTS_HOT}</td>
				<td>&nbsp;&nbsp;</td>
				<td style="text-align: center;">{FOLDER_HOT_IMG}</td>
				<td class="gensmall">{L_NO_UNREAD_POSTS_HOT}</td>
				<td>&nbsp;&nbsp;</td>
				<td style="text-align: center;">{FOLDER_STICKY_IMG}</td>
				<td class="gensmall">{L_ICON_STICKY}</td>
			</tr>
			<tr>
				<td style="text-align: center;">{FOLDER_LOCKED_UNREAD_IMG}</td>
				<td class="gensmall">{L_UNREAD_POSTS_LOCKED}</td>
				<td>&nbsp;&nbsp;</td>
				<td style="text-align: center;">{FOLDER_LOCKED_IMG}</td>
				<td class="gensmall">{L_NO_UNREAD_POSTS_LOCKED}</td>
				<td>&nbsp;&nbsp;</td>
				<td style="text-align: center;">{FOLDER_MOVED_IMG}</td>
				<td class="gensmall">{L_TOPIC_MOVED}</td>
			</tr>
			</table>
			</td>
			<td align="{S_CONTENT_FLOW_END}" valign="top"><h3>{L_FORUM_PERMISSIONS}</h3><span class="gensmall"><!-- BEGIN rules -->{rules.RULE}<br /><!-- END rules --></span></td>
		</tr>
		</table>
	<!-- ENDIF -->
</div>
